<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="myform" action="/vertify">
        <input type="email" id="email" placeholder="邮箱">
        <input type="text" placeholder="验证码">
        <button id="vertify" name="vertify">发送验证码</button>
        <p id="messege"></p>
        <input type="text" placeholder="用户名">
        <input type="password" name="password" id="password" placeholder="密码">
        <button name="submit">注册</button>
    </form>
</body>

</html>